body {
	background-color: #FAFAFA;
}

/************ MISC *************/

.clear-padding {
	padding: 0;
}

.bold-text {
	font-weight: 700;
}

/************ MAIN NAVBAR *************/

.main-bg {
	background-color: skyblue;
	margin: 0 auto;
	border-radius: 0 !important;
}

.nav-wrapper {
	box-shadow: 0 0 4px rgba(0,0,0,0.4);
}

/************ MAIN H1 FOR ALL PAGES *************/

.main-header {
	margin-top: 35px;
	font-weight: 100;
	opacity: 0.8;
}

/************ SIGN UP PAGE *************/

.red-star {
	color: #CC0000;
}

/************ MASONRY *************/

/** fluid 5 columns */
.masonry-grid-item,
.masonry-grid-sizer {
	width: 20%;
}

/* media queries for masonry */
@media only screen and (max-width: 1000px) and (min-width: 550px) {
	.masonry-grid-item,
	.masonry-grid-sizer {
		width: 33%;
	}
}

@media only screen and (max-width: 550px) {
	.masonry-grid-item,
	.masonry-grid-sizer {
		width: 50%;
	}
}

.masonry-grid-item {
	margin-bottom: 0;


	/* Break long words and urls */

	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;

	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

.likes-block {
	display: block;
	opacity: 0.8
}

.likes-block {
	color: inherit;
}

.likes:hover,
.reposts:hover {
	text-decoration: underline;
	cursor: pointer;
}


/************ USER DASHBOARD *************/

.remove-bullets {
	list-style-type: none;
}


/************ PAGINATION STUFF *************/

.pagination-pagecount {
	margin-top:2%;
}

.pagination {
	margin: 0;
}

/************ COMMENTS *************/

.pin-comment {
	margin-top: 30px;
	/*border-top: 1px solid rgba(0,0,0,0.4);
	padding-top:10px;*/
}

.comment-date {
	opacity: 0.8;
}

.edit-comment,
.remove-comment {
	cursor: pointer;
	color: #337ab7;
}

.edit-comment:hover,
.remove-comment:hover,
.sort-active {
	text-decoration: underline;
}

.sort {
	cursor: pointer;
}
